mixin box-head(title, description)
  div(class="box-head")
    h1(class="inner-title") #{title}
    div(class="inner-desc") #{description}


//- Example mixins nhiều
mixin box-head-2(title, description)
  div(class="box-head test")
    h1(class="inner-title") #{title}
    div(class="inner-desc") #{description}